<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <title>Conway's Game of Life</title>
        <link rel='shortcut icon' href='' type='image/png'>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Poppins|Rubik|Lato|Raleway|Montserrat' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet/less' type='text/css' href='styles/styles.less' />
        <link rel="stylesheet/less" type='text/css' href="styles/gameoflife.less">
        <script src='js/less.min.js' ></script>
    </head>
    <body>
        <div id='simulation-settings'>
            <span>Milliseconds per interval: </span>
            <select id='interval-time'>
                <option value='1'>1</option>
                <option value='10'>10</option>
                <option selected value='100'>100</option>
                <option value='1000'>1000</option>
            </select>
            <span>Steps per interval: </span>
            <select id='iterations-per-interval'>
                <option selected value='1'>1</option>
                <option value='10'>10</option>
                <option value='100'>100</option>
            </select>
        </div>

        <div>
            <table id='board'>

            </table>
            <div id='ant-settings'>
                <p>Click on cells to initialize the grid, then press start.</p>
                <br>
                <select id="initializations">
                    <option selected disabled>Interesting initializations</option>
                    <option value="0">R-pentomino</option>
                    <option value="1">Diehard</option>
                    <option value="2">Acorn</option>
                    <option value="3">Glider</option>
                    <option value="4">Light-weight spaceship</option>
                    <option value="5">Middle-weight spaceship</option>
                    <option value="6">Heavy-weight spaceship</option>
                </select>
                <br>
                <br>
                <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="blank">Explanation <i class="fa fa-external-link-square"></i></a>
            </div>
        </div>

        <p>Steps: <span id='iterations'>0</span></p>
        <button id='toggle-start'>Start</button>
        <button id='reset'>Reset</button>
        <br>
        <br>
        <button><a href="../">Back</a></button>
        <a id='github' target='blank' href='https://github.com/rileythomp/cellular-automaton'>
            <i class='fa fa-github'></i>
        </a>
    </body>
    <script src='js/cellmodel.js'></script>
    <script src='js/gameoflife.js'></script>
</html>
