<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <title>Cellular Automaton</title>
        <link rel='shortcut icon' href='' type='image/png'>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Poppins|Rubik|Lato|Raleway|Montserrat' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet/less' type='text/css' href='styles/styles.less' />
        <script src='js/less.min.js' ></script>
    </head>
    <body>
        <h1 style="margin-top: 0">Cellular Automaton</h2>
        <a style="font-size: 2em;" href="/ants.html">Ants</a>
        <br>
        <br>
        <a style="font-size: 2em;"href="/turmites.html">Turmites</a>
        <br>
        <br>
        <a style="font-size: 2em;"href="/gameoflife.html">Conway's Game of Life</a>
        <a id='github' target='blank' href='https://github.com/rileythomp/cellular-automaton'>
            <i class='fa fa-github'></i>
        </a>
    </body>
</html>
